* {
    font-family: 'FiraCode Nerd Font';
    font-size: 15px;

}


window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}


#custom-arch {
    padding-left: 5px;
    padding-right: 5px;
    color: #143c59;
    margin-left: 10px;
    margin-right: 10px;

}
#custom-notification,
#tray,
#clock,
#backlight,
#network,
#pulseaudio,
#bluetooth,
#language,
#workspaces,
#window {
/*    margin-top: 5px; */
    margin-left: 5px;
    margin-right: 5px;
 /*    border: 2px solid #143c59; */
    padding-left: 5px;
    padding-right: 5px;
/*    border-radius: 15px; */
    color: #7ed3dd;

}

window#waybar.empty #window {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: transparent;
}

#workspaces button{
    border-radius: 20;
    color: #143c59
}


#workspaces button.active {
    background-color: #143c59;
    color: #7ed3dd;

}
